<div style="position: relative; margin: 0 10px; text-align: center">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}} embedded in <span id='parent'></span></p>
    <br>
    <br>
    <br>
    <div>
        <h2>User details</h2>
        {{#with user}}
            <div>Id: {{id}}</div>
            <div>Username: {{username}}</div>
            <div>Email: {{email}}</div>
            <div>Firstname: {{first_name}}</div>
            <div>Lastname: {{last_name}}</div>
            <div>Nickname: {{nickname}}</div>
            <div>Locale: {{locale}}</div>
        {{/with}}
        <div style="margin-top: 20px">
            <a href="/logout">Logout</a>
        </div>
    </div>

</div>